<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./templates/head") %>
</head>
<%- include("./templates/nav")%>
<body>
    <div class="container">
    <h2>Argumento</h2>
    <%= mostrarArg %> <br>
    <hr class="my-4">
    <h2>Pid</h2>
    <%= mostrarPid %><br>
    <hr class="my-4">
    <h2>Plataforma</h2>
    <%= mostrarPlataf %><br>
    <hr class="my-4">
    <h2>Carpeta</h2>
    <%= mostrarCarpeta %><br>
    <hr class="my-4">
    <h2>Version Node</h2>
    <%= mostrarVersion %><br>








   
    